@model IEnumerable<FinalProject.Models.Apartment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenant.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApartmentArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApartmentDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tenant.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApartmentNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApartmentNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApartmentNumber })
        </td>
    </tr>
}

</table>
